body, html {
    margin: 0;
    padding: 0;
    height: 100%; 
    overflow-x: hidden; 
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
   
}

.header{
    height: 70px;
    width: 100%;
    background-color: white;
    padding-left: 100px;
    box-sizing: border-box;
    padding-top: 0px;
    padding-bottom: 10px;
    position: fixed;
    top: 0;
    z-index: 1000; 
justify-content: center;
display: flex;


box-shadow:  2px 2px rgb(45, 250, 93,0.1)

}

#logo{
    margin-left: 0;
    display: inline-block;
    font-size: 40px;
    margin-right: 50px;
    justify-self: left;
    letter-spacing: 2px;
    
}
#sasta_logo{
    margin-bottom: 5px;
    height: 30px;
    width: 30px;
    border: 1px solid black;
    border-radius: 50%;
    font-size: 22px;
    font-weight: 900;
    display: inline-block;
    position: relative;
    right: 50px;
    background-color:rgba(14, 232, 112,0.8);
    text-align: center;
    
  
}

.header li{
    display: inline-block;
    /* display: flex; */
    /* flex-direction: row; */
    justify-content: space-between;
    font-size: 25px;
    font-weight: bold;
    margin-left: 50px;
    
}
.header li a{
    text-decoration: none;
   justify-content: space-between; 
   color: black;
   
   
}

#bhendi{
    font-family: "Karla", serif;
    font-style: italic;
    word-spacing: 5px;
    font-weight: lighter;
    font-family: sans-serif;
    position: relative;
    top: -50px;
    bottom: 10px;
    margin-top: 10px;
    border: 1px solid lightgreen 0.5;
    border-radius: 20px;
    height: 150px;
    width: 1000px;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-self: center;
    background: linear-gradient(45deg, 
    rgb(30, 250, 93, 0.2) 0%, 
    rgba(255, 255, 255, 0.1) 50%, 
    rgb(153, 94, 247,0.2) 100%);   
    box-shadow: #66ccff;
}
#log {
    position: relative;
    left: 10px;
    width: 100px;
    height: 35px;
    text-align: center;
    font-size: 25px;
    border: 2px solid;
    border-radius: 5px;
    border-color: rgba(225, 239, 253, 0.5);
    background-color: rgb(225, 239, 253,0.5);
    
}
#sign{
    position: relative;
    margin-right: 10px;
    margin-bottom: 10px;
    left: 10px;
    width: 100px;
    height: 35px;
    text-align: center;
    border: 2px solid;
    border-radius: 5px;
    border-color: rgba(225, 239, 253, 0.5);
    background-color:rgba(14, 232, 112,0.8)
  
    
}

.main{
    width: 100%;
    background:linear-gradient(to bottom, rgba(30,250, 93,0.1),rgba(255, 255, 255,1));  
    display: flex;
    text-align: center;
    justify-content: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: inline-block;
}
.main2{
    height: 800px;
    position: relative;
    background: linear-gradient(45deg, 
    rgb(30, 250, 93, 0.4) 0%, 
    rgba(255, 255, 255, 0.1) 50%, 
    rgb(153, 94, 247,0.4) 100%);
    box-shadow: lightgreen;
    display: flex;
    text-align: center;
    justify-content: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
.main p{
    text-align: center;
    word-spacing: 0px;
 
}
#info h4{
      margin-left: 40px;
      margin-bottom: 50px;
      font-size: 30px;
}
#info{
    margin: 0px;
    padding: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: inline-block;
    position: relative;
    justify-self: right;
    top: -600px;
    right: -1200px;
    font-size: 20px;
   

}
#list li{   
    color: blue;
    font-weight: 700;
    padding: 0px;
    margin: 0px;
    list-style: inside;
}
#heading{
    letter-spacing: 2px;
    word-spacing: 6px;
    padding-top: 100px;
    padding-bottom: 70px;
    font-size: 2rem;
    font-style: italic;
    /* text-decoration: underline; */
}
#img{
    display: flex;
    justify-content: center;
    display: inline-block;
    height: 600px;
    width: 1000px;
    border-radius: 20px;
    position: relative;
    bottom: -100px;
    margin-left: 50px;
    right: 400px;
     /*transform: skew(170deg); */
    box-shadow: 10px 10pxblack;
    opacity: 0;
    transform: translateY(20px); 
    transition: opacity 1s ease, transform 1s ease; 
    animation: fadeIn 2s ease forwards;
}
.main3{
    padding: 0;
    height:800px ; 
    width:100%;
    margin-top: -485px;
    display: inline-block;
    box-shadow: lightgreen;
      /* background:linear-gradient(45deg,to left, rgba(152, 245, 174, 1) ,rgba(255, 255, 255, 0.2)); */
     /* background-color: rgb(153, 94, 247,0.1);  */
     /* background-color: rgb(56, 230, 56,0.3); */
     background: linear-gradient(to bottom, rgb(255, 255, 255,0.5), rgba(57, 127, 230, 0.3));
     background: linear-gradient(45deg ,rgb(45, 250, 93,0.2) ,rgba(255, 255, 255, 0.3), rgb(153, 94, 247,0.2));
}
.image{
    padding: 0;
    margin: 0;
    height:600px ;
    width: 1000px;
   border-radius: 30px;
    background-size: cover;
    /* display: inline-block; */
    position: relative;
    top:70px ; 
    right: -850px; 
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease, transform 1s ease; 
    animation: fadeIn 10s ease forwards;
   
}
.contest{
    display: inline-block;
     /* display: flex;  */
    justify-content: center;
    text-align: center;
    height: 800px;
    width: 100%;
    background: linear-gradient(to bottom, rgb(255, 255, 255,0.6), rgba(57, 127, 230, 0.3));
    background: linear-gradient(45deg ,rgb(45, 250, 93,0.4) ,rgba(255, 255, 255, 0.3), rgb(153, 94, 247,0.4));
    box-shadow: #66ccff;
    box-shadow: 3px;
    border-radius: 10px;
}
.contest h2{
    font-size: 2rem;
    margin-top: 200px;
}

.card{ 
    height: 300px;
    width: 400px;
    border: 2px solid black;
    /* bottom: -400px; */
    border-radius: 20px;
    display: inline-block;
    margin: 70px;
    margin-top: 100px;
    /* background-color:#539BF5 ; */
    /* background: linear-gradient(to bottom, rgb(255, 255, 255,0.5), rgba(57, 127, 230, 0.3));
    background: linear-gradient(45deg ,rgb(45, 250, 93,0.5) , rgb(153, 94, 247,0.5)); */
    background-color:rgba(14, 232, 112,0.8);
    text-align: center;      
}
.card h3 a{
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 30px;
}
.btn{
    height: 50px;
    width: 200px;
    border: 2px solid lightblue;
    border-radius: 20px;
    box-shadow: 2px;
    margin-top: 70px;
    background-color:black;
    color: white;
    font-size: 20px;
}

.social_media p{
    font-size: 1rem;
    /* text-align: left; */
    margin-left: 50px;
}
.social_media{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgba(152, 245, 174, 0.2);
    color: black;
}
.social_media i{
    color: black;
    opacity: 0.5;
    font-size: 30px;
    margin-left: 10px;
    
}
.social_media h3{
  display: inline-block;
  /* top: -100px;  */
  margin-left: 30px; 
  font-size: 2rem;
}
#bvp{
    display: inline;
    bottom: -20px;
    padding-top: 20px;
    height: 100px;
    width: 100px;
    border-top-left-radius: 150%;
    border-top-right-radius: 150%;
    
}

.social_media i:hover{
    color: black;
    opacity: 1;
}
.btn:hover{
 background-color: #4f5250;
 
}
@media(max-width:400px) {
    .card{    
        flex-wrap:wrap
    }

}
@media(max-width: 1500px){
    #login,#signup{
        position: relative;
        transform: translateX(1000px);
        transform: translateY(10px);
        display: inline-block;
        
    }
    #heading{
        margin-top: 200px;
    }
    
}
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px); 
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

#image:in-viewport {
    animation: fadeIn 10s ease forwards; 
}

#img :in-viewport {
    animation: fadeIn 2s ease forwards; 
}
.header li a:hover{
    color: rgb(68, 214, 68);
}
#log a:hover{
    
    background-color: rgb(225, 239, 253,1);
    font-size: 30px;
    color:black;
}
#sign a:hover{
    background-color:rgba(14, 232, 112,0.8) ;
    font-size: 30px;
    color: black;
}